.little-Card {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px 10px;
  margin-bottom: 10px;
  height: 75px;
  width: 750px;
}

.little-Card > img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}


.little-Card > div {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;

}